@using Microsoft.AspNet.Identity


@if (Session["token"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log Ud", "LogOff", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log ind", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

